{% extends 'base.html' %} {% block content %}
<h2>Search for a Movie</h2>

<form method="GET" action="{% url 'search-movie' %}">
  <div class="input-group mb-3">
    <input
      type="text"
      name="title"
      class="form-control"
      placeholder="Enter movie title"
      required
    />
    <div>
      <button class="btn btn-primary" style="margin-left: 10px" type="submit">
        Search
      </button>
    </div>
  </div>
</form>

{% if movie_list %}
<h3>Search Results ({{ movie_list|length }})</h3>
<ul class="list-group">
  {% for movie in movie_list %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img
        src="{{ movie.Poster }}"
        alt="{{ movie.Title }} Poster"
        style="width: 50px; height: auto"
        class="me-2"
      />
      <strong>{{ movie.Title }}</strong> ({{ movie.Year }})
    </div>
    <a
      href="{% url 'review-create' %}?movie_title={{ movie.Title }}"
      class="btn btn-primary btn-sm"
      >Add Review</a
    >
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No movies found. Please try a different title.</p>
{% endif %} {% endblock %}
