{% extends 'base.html' %} {% block content %}
<h2>{{ user.username }}'s Profile</h2>

<!-- Profile Information Display -->
<div class="mb-4">
  <h5>Bio:</h5>
  <p>{{ user.userprofile.bio|default:"No bio available." }}</p>

  <h5>Favorite Genres:</h5>
  <p>{{ user.userprofile.favorite_genres|default:"No Bio"}}</p>
</div>

<!-- Link to Edit Profile -->
<div class="mb-3">
  <a href="{% url 'profile-edit' %}" class="btn btn-primary">Edit Profile</a>
</div>

<h3>Your Reviews</h3>
<div class="row">
  {% if reviews %} {% for review in reviews %}
  <div class="col-md-6 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <img
          src="{{ review.poster_url }}"
          alt="{{ review.movie_title }} Poster"
          style="width: 100px"
        />
        <h5 class="card-title">{{ review.movie_title }}</h5>
        <h6 class="card-subtitle text-muted">Rating: {{ review.rating }}/5</h6>
        <p class="card-text mt-3">
          {{ review.review_content|truncatewords:30 }}
        </p>
        <a
          href="{% url 'review-detail' review.pk %}"
          class="btn btn-sm btn-primary"
          >Read more</a
        >
        <a
          href="{% url 'review-update' review.pk %}"
          class="btn btn-sm btn-secondary"
          >Edit</a
        >
        <a
          href="{% url 'review-delete' review.pk %}"
          class="btn btn-sm btn-danger"
          >Delete</a
        >
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <p>You haven't written any reviews yet.</p>
  {% endif %}
</div>
{% endblock %}
