<!-- templates/post_detail.html -->
{% extends 'base.html' %} {% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<p>Published on: {{ post.published_date }}</p>

<!-- Display Tags -->
<p>
  Tags: {% for tag in post.tags.all %}
  <a href="{% url 'posts-by-tag' tag.slug %}">{{ tag.name }}</a>{% if not
  forloop.last %}, {% endif %} {% empty %} No tags. {% endfor %}
</p>

<!-- Display Comments -->
<h2>Comments:</h2>
{% for comment in post.comments.all %}
<p>{{ comment.content }} - <small>by {{ comment.author }}</small></p>
{% if comment.author == user %}
<a href="{% url 'comment-update' comment.pk %}">Edit</a>
<a href="{% url 'comment-delete' comment.pk %}">Delete</a>
{% endif %} {% empty %}
<p>No comments yet.</p>
{% endfor %}

<!-- Comment Creation Form -->
<h3>Leave a comment:</h3>
<form method="POST" action="{% url 'comment-create' post.id %}">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Submit</button>
</form>

{% endblock %}
